* {transition: all ease-in-out 0.2s;}

.border-button {
    border-color: black!important;
}

.border-button:hover {
    color: white!important;
    background-color: black!important;
}

.button:hover {filter: invert(100%);}